body { background-color: honeydew;
}

h1 {
font-size: xx-large;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: maroon;
text-align: center;
background-color: orchid;
}

h2 {font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     color: maroon;
     text-align: center;

}
hr {color: maroon;
    }
    ul { 
        font-size: larger;
        font-style: italic;
        color: orchid;

    }
    
    
    
